.hero {
  height: 100vh;
  top: 0;
  padding: 200px 0 0 0;
  animation: fadeInAnimation 2s forwards;
  -webkit-animation: fadeInAnimation 2s forwards;
}

.hero .wrap-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8%;
}

.hero .wrap-text > h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #f94892;
  margin-bottom: 20px;
}

.hero .wrap-text > button {
  min-height: 44px;
  min-width: 44px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #f94892;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  width: 50%;
  cursor: pointer;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.hero .wrap-text > button:hover {
  opacity: 0.7;
}

.hero .image > img {
  width: 550px;
  animation: heroAnimation 2s infinite alternate;
}

/* Fitur */

.feature {
  background-color: #f94892;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 44px;
}

.overlay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
}

.featureForm {
  /* Styling untuk setiap card */
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: #f8f7f7;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 3px 6px 9px #3d3d3d;
}
.featureForm:hover {
  background-color: rgb(228, 224, 224);
}

.featureForm h2 {
  margin-top: 10px;
  font-weight: 700;
}

.featureForm p {
  margin-top: 5px;
  font-size: 16px;
  text-align: left;
}

/* .feature {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffa1c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.feature > h1 {
  text-align: center;
  color: white;
}
/* 
.feature .overlay .featureForm > img {
  width: 100%;
  margin-bottom: 20px;
}

.feature .overlay {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 5rem;
  border: 5px solid white;
  gap: 100px;
} */
.feature .overlay .featureForm {
  /* padding: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: white; */

  cursor: pointer;
}
.feature > button {
  min-height: 44px;
  min-width: 44px;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: white;
  color: #f5619f;
  border: none;
  border-radius: 5px;
  padding: 15px 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  box-shadow: 0px 5px 6px rgb(211, 36, 94);
}
.feature > button:hover {
  background-color: rgb(238, 234, 234);
}

/* Dropdown */
.faq {
  height: 100vh;
  padding: 60px 0;
}
.faq-title > h2 {
  color: #f94892;
  font-weight: 700;
  font-size: 38px;
}

.faq-title > p {
  color: #333333;
  font-size: 20px;
}
.faq .faq-list {
  padding: 0;
  list-style: none;
}
.faq .faq-list li {
  background-color: #f94892;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 40px;
}
.faq .faq-list a {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: -25px;
  top: 6px;
  transition: 1s;
}
.faq-title {
  text-align: center;
  font-size: 17px;
  border-bottom: 2px dashed #ffffff;
  margin-bottom: 30px;
  padding-bottom: 10px;
  color: #ffffff;
}

.faq .faq-list p {
  padding-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  color: #f94892;
}

/* .collapsed i.fas.fa-arrow-up {
    
} */

/* Start Animasi */
.collapsed i.fas.fa-arrow-up {
  transform: rotate(180deg);
}

@media screen and (max-width: 950px) {
  .hero {
    padding: 100px 0 100px 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heroAnimation {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
}
/* Stop Animasi */

@media screen and (max-width: 320px) {
  .hero .wrap-text > h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 376px) {
  .feature .overlay {
    display: flex;
    flex-direction: column;
  }
}
