.hero {
  height: 100vh;
  top: 0;
  padding: 200px 0 0 0;
  animation: fadeInAnimation 2s forwards;
  -webkit-animation: fadeInAnimation 2s forwards;
}

.hero .wrap-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8%;
}

.hero .wrap-text > h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #f94892;
  margin-bottom: 20px;
}

.hero .wrap-text > button {
  min-height: 44px;
  min-width: 44px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #f94892;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  width: 50%;
  cursor: pointer;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.hero .wrap-text > button:hover {
  opacity: 0.7;
}

.hero .image > img {
  width: 550px;
  animation: heroAnimation 2s infinite alternate;
}

/* Fitur */

.feature {
  background-color: #f94892;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 44px;
}

.overlay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
}

.featureForm {
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
  background-color: #f8f7f7;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 3px 6px 9px #3d3d3d;
}
.featureForm:hover {
  background-color: rgb(228, 224, 224);
}

.featureForm h2 {
  margin-top: 10px;
  font-weight: 700;
}

.featureForm p {
  margin-top: 5px;
  font-size: 16px;
  text-align: left;
}

.feature > h1 {
  text-align: center;
  color: white;
}
.feature .overlay .featureForm {
  /* padding: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: white; */

  cursor: pointer;
}
.link-feature {
  font-size: 20px;
  text-decoration: none;
  color: white;
  background-color: #f5619f;
  padding: 15px;
  border-radius: 10px;
}

.feature > button {
  min-height: 44px;
  min-width: 44px;
  font-size: 1.5rem;
  font-weight: 800;
  background-color: white;
  color: #f5619f;
  border: none;
  border-radius: 5px;
  padding: 15px 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  box-shadow: 0px 5px 6px rgb(211, 36, 94);
}
.feature > button:hover {
  background-color: rgb(238, 234, 234);
}

/* Dropdown */

.faq {
  padding: 60px 0;
}
.faq-title > h2 {
  color: #f94892;
  font-weight: 700;
  font-size: 38px;
}

.faq-title > p {
  color: #333333;
  font-size: 20px;
}

.faq-title {
  text-align: center;
  font-size: 17px;
  border-bottom: 2px dashed #ffffff;
  margin-bottom: 30px;
  padding-bottom: 10px;
  color: #ffffff;
}
.faq-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .faq_area {
  position: relative;
  z-index: 1;
  background-color: #f5f5ff;
} */

/* .faq-accordian {
  position: relative;
  z-index: 1;
} */
.faq-accordian .card {
  /* position: relative; */
  z-index: 1;
  margin-bottom: 1.5rem;
}
.faq-accordian .card:last-child {
  margin-bottom: 0;
}
.faq-accordian .card .card-header {
  background-color: #ffffff;
  padding: 0;
  border-bottom-color: #ebebeb;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #c5c4c4;
}
.faq-accordian .card .card-header h6 {
  cursor: pointer;
  padding: 1.75rem 2rem;
  color: #3f43fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
  font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed {
  color: #070a57;
}
.faq-accordian .card .card-header h6.collapsed span {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
  padding: 1.75rem 2rem;
  box-shadow: 0px 0px 5px #c5c4c4;
}
.faq-accordian .card .card-body p:last-child {
  margin-bottom: 0;
}
.link {
  color: #f94892;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
  color: black;
}
/* .collapsed i.fas.fa-arrow-up {
    
} */

/* Start Animasi */
.collapsed i.fas.fa-arrow-up {
  transform: rotate(180deg);
}

@media screen and (max-width: 950px) {
  .hero {
    padding: 100px 0 100px 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes heroAnimation {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
}
/* Stop Animasi */

@media screen and (max-width: 992px) {
  .hero {
    padding: 100px 0 100px 0;
  }

  .hero .d-flex {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .hero .wrap-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 10px 0 10px;
  }

  .hero .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }

  .hero .image > img {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .feature .overlay {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .hero .wrap-text > h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 376px) {
  .feature .overlay {
    display: flex;
    flex-direction: column;
  }
}
