.office-container {
  margin-top: 5rem;
  padding: 0 7%;
}

.cari {
  border: none;
  background-color: transparent;
}

.cari:hover {
  color: #f94892;
}

.lihat-detail {
  border: none;
  background-color: transparent;
}

.lihat-detail:hover {
  color: #f94892;
}

.name-comment {
  font-size: 1rem;
}
.stars-comment {
  width: 100px;
  margin-top: 0;
}

.tgl-comment {
  font-size: .7rem;
}

.comment-office {
  font-size: .9rem;
}

.reply-comment {
  font-size: .9rem;
}
